<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Chanakya</display-name>
    <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/dispatcher-servlet.xml,/WEB-INF/login-security.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>dir</param-name>
    <param-value>/opt/tomcat7/FagnumImage/blogImage</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <!-- <filter>
    <filter-name>anonymousAuthenticate</filter-name>
    <filter-class>com.fagnum.suspecious.hack.SuspiciousURLFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>anonymousAuthenticate</filter-name>
    <url-pattern>/blog/*</url-pattern>
  </filter-mapping> -->
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.txt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.less</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.svg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.eot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.GIF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.map</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>blogImage</servlet-name>
    <servlet-class>com.fagnum.services.util.ImageServlet</servlet-class>
    <init-param>
      <param-name>dir</param-name>
      <param-value>/opt/tomcat7/FagnumImage/blogImage</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogImage</servlet-name>
    <url-pattern>/blogImage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newBlogImage</servlet-name>
    <servlet-class>com.fagnum.services.util.ImageServlet</servlet-class>
    <init-param>
      <param-name>dir</param-name>
      <param-value>/opt/tomcat7/FagnumImage/blogImage</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>newBlogImage</servlet-name>
    <url-pattern>/newBlogImage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bloggerImage</servlet-name>
    <servlet-class>com.jsos.image.ImageServlet</servlet-class>
    <init-param>
      <param-name>dir</param-name>
      <param-value>/opt/tomcat7/FagnumImage/bloggerImage</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>bloggerImage</servlet-name>
    <url-pattern>/bloggerImage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>slashBloggerImage</servlet-name>
    <servlet-class>com.jsos.image.ImageServlet</servlet-class>
    <init-param>
      <param-name>dir</param-name>
      <param-value>/opt/tomcat7/FagnumImage/bloggerImage</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>slashBloggerImage</servlet-name>
    <url-pattern>/slashBloggerImage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>